

#maincanvas-svg {
	/* position: absolute; */
	top: 0%;
	width: 100%;
	height:100%;
	border: 0px;
	padding: 0px;
}

#svg-points {
	stroke-width: 2px;
}





.box-svg{
	/* stroke-width: 1px; */
	/* stroke: #0000ffaa;
	fill: #00880022; */
}

/* 
this css can be moved to dynamic css in main.js, after obj-type css being set 
for now when a box is selected, its objtype class in css is removed so the color is set by selected state.
dynamic set obj-type css has higher priority than this one.
*/
.svg-selected{
	stroke: #ff00ff88;
	fill: #ff00ff22;
	/* stroke-width: 2px; */
}



.rect-label {
	width: 150px;
	height: 28px;	
}



.rect-editor-guide-line{
	stroke-dasharray: 1,1;
	stroke: red;
	/* stroke-width: 1px; */
	stroke-opacity: 0.6;
}



.svg-rect{
	/* stroke-width: 1px; */
	stroke: #0000ffaa;
	fill: #0000ff11;
}

.svg-selected{
	stroke: #ff00ff88;
	fill: #00000000;
	/* stroke-width: 2px; */
}


.rect-ctrl-handle{
    fill: #FF00ff44
}


#rect-editor-floating-toolbox {
	position: absolute;
	top: 0%;
	right: 0%;
	width: fit-content;
	height: fit-content;
	display: none;

	background-color:var(--widget-background-color); 
	font-size: inherit;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
}

#rect-editor-cfg {
	position: absolute;
	display: inline-flex;	
	background-color: var(--widget-background-color);
	position: absolute;
	top: 0%;
	right: 0%;
	width: fit-content;
	height: fit-content;	
}
.rect-editor-item {
	margin-left: 5px;
	display: inline-flex;
}
.rect-editor-widget-group {
	display: inline-flex;	
}


#bottomright,#topleft:hover{
	cursor: nw-resize;
}

#topright,#bottomleft:hover{
	cursor: ne-resize;
}


#rect-editor-floating-labels{
	position: absolute;
	top: 0%;
	left: 0%;
}

